.parent {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 18px; /* Adjust spacing between videos */
    padding: 20px; /* Adjust container padding */
    width: 100%;
    height: 100%;
}

.video-container {
    position: relative;
    width: 100%;
    height: 100%; /* Adjust the height as needed */
}

.video-container iframe {
    width: 100%;
    height: 100%;
}

.video-container img {
    position: absolute;
    
    left: 90%;
    transform: translateX(-50%);
    padding: 10px 20px;
  
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* Optional styling for the button hover effect */
/* .video-container img:hover {
    background-color: #0056b3;
} */



/* .video-container {
    border-radius: 25px;
    border: 2px solid #73AD21;
    padding: 10px;
    width: 100%;
    height: 100%;
    
}
 */
